# .env.example
APP_URL=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
LINEAR_CLIENT_ID=
LINEAR_CLIENT_SECRET=
X_CLIENT_ID=
X_CLIENT_SECRET=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SESSION_SECRET=
APP_USER_ID=
OAUTH_PROVIDER_URL_GITHUB=https://github.com/login/oauth/authorize
OAUTH_PROVIDER_URL_LINKEDIN=https://www.linkedin.com/oauth/v2/authorization
